<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <form th:action="@{/createPipelineForApps/regular}" method="post">
                <div class="form-group" >
                    <label for="technology">1. Select your technology:</label>
                    <select class="form-control" th:value="${technology}" name="technology" id="technology" required="required">
                        <option  disabled="disabled" selected="selected"> -- select your Technology -- </option>
	                    <option th:each="projectType : ${T(com.synechron.onlineacc.util.ProjectType).values()}" th:value="${projectType}" th:text="${projectType}"></option>
                    </select>
                    <br />
                </div>

                <div class="form-group" >
                    <label for="newOrgName">2. Select your Organization:</label>
                    <select class="form-control" th:value="${newOrgName}" name="newOrgName" id="newOrgName" required="required">
                        <option  disabled="disabled" selected="selected"> -- select your Organization -- </option>
	                    <option th:each="orgName : ${T(com.synechron.onlineacc.util.OrgName).values()}" th:value="${orgName}" th:text="${orgName}"></option>
                    </select>
                    <br />
                </div>

                <div class="form-group">
                    <label for="projectName">3. Please specify your project name: </label>
                    <span class="input-group-addon">Project Name</span>
                    <input th:value="${projectName}" type="text" name="projectName" id="projectName" class="form-control" aria-label="Project Name"/>
                </div>

                <div class="form-group">
                    <label for="testURL">4. Please enter distribution list that need access to generated workspaces of this project : </label>
                    <span class="input-group-addon">Distribution List</span>
                    <input th:value="${distributionList}" type="text" name="distributionList" id="distributionList" class="form-control" aria-label="Distribution List"/>
                </div>

                <div class="form-group">
                    <label for="testURL">5. Please specify URL testing (If exist): </label>
                    <span class="input-group-addon">Testing URL</span>
                    <input th:value="${testURL}" type="text" name="testURL" id="testURL" class="form-control" aria-label="Test URL"/>
                </div>

                <input type="hidden"
                       name="${_csrf.parameterName}"
                       value="${_csrf.token}"/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Create Project</button>
            </form>

            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>


<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>